[submodule "lib/lwip"]
    path = lib/lwip-2.2.2
    url = https://github.com/picohari/lwip.git
[submodule "lib/ugfx"]
    path = lib/ugfx-2.9
    url = https://github.com/picohari/ugfx.git
[submodule "lib/FreeRTOS-11.2.0"]
	path = lib/FreeRTOS-11.2.0
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
