@import './base.css';

#app {
  //max-width: 1280px;
  margin: 0 auto;
  //padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: hsl(203.93deg 74.69% 48.04%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    //background-color: hsla(160, 100%, 37%, 0.2);
    text-decoration: underline;
  }
}

/*
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/

section {
  padding-bottom: 25px;;
}